@using CvProject.Models.Entity
@model List<Skill>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!DOCTYPE html>
<html lang="en">

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
       
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Yetenekler</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width: 10px">#</th>
                                                <th>Yetenek</th>
                                                <th>Düzey</th>                                
                                                
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@item.Id</td>
                                                    <td>@item.SkillName</td>                 
                                                    <td>
                                                        <div class="progress progress-xs">
                                                            <div class="progress-bar progress-bar-danger" style="width: @item.SkillRatio%"></div>

                                                        </div>
                                                        <span style="height: 20px; font-size:13px" class="badge bg-danger">@item.SkillRatio%</span>
                                                    </td>
                                                   
                                                </tr>
                                            }

                                           
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                                
                            </div>
                            <!-- /.card -->

                            
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                        
                        <!-- /.col -->
                    </div>
                    
                </div><!-- /.container-fluid -->
            </section>
            
</body>
</html>


