

<div class="resume-section-content">
    <h2 class="mb-5">İletişim</h2>

    <form method="post">

        <label>Ad - Soyad</label>
        <input type="text" class="form-control" name="FullName" />

        <label>E-Mail</label>
        <input type="text" class="form-control" name="Email" />

        <label>Konu</label>
        <input type="text" class="form-control" name="Subject" />

        <label>Mesaj</label>
        <input type="text" class="form-control" name="Message"/>
        <br />

        <button class="btn btn-info">Gönder</button>

    </form>

</div>
