@using CvProject.Models.Entity
@model IEnumerable<Certificate>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <br />
        <a href="/Certificates/AddCertificate/" class="btn btn-info">Sertifika Ekle</a>
        <br />
        <br />



        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">

                    <!-- /.col -->
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header p-2">

                            </div><!-- /.card-header -->
                            <div class="card-body">



                                <div class="tab-pane" id="timeline">
                                    <!-- The timeline -->
                                    <div class="timeline timeline-inverse">

                                        @foreach (var item in Model)
                                        {



                                            <!-- timeline time label -->
                                            <div class="time-label">
                                                <span class="bg-success">
                                                    @item.Date
                                                </span>
                                            </div>
                                            <!-- /.timeline-label -->
                                            <!-- timeline item -->
                                            <div>
                                                <i class="fas fa-certificate bg-primary"></i>

                                                <div class="timeline-item">


                                                    <div class="timeline-body">
                                                        @item.Description
                                                    </div>
                                                    <div class="timeline-body">
                                                        @item.Platform - @item.Instructor
                                                    </div>

                                                    <div class="timeline-footer">
                                                        <a href="/Certificates/UpdateCertificate/@item.Id" class="btn btn-primary btn-sm">Düzenle</a>
                                                        <a href="/Certificates/DeleteCertificate/@item.Id" class="btn btn-danger btn-sm">Sil</a>
                                                    </div>
                                                </div>
                                            </div>

                                        }


                                    </div>
                                </div>


                            </div><!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->


</body>
</html>


